@keyframes typing-bounce {
  0%,
  80%,
  100% {
    transform: scale(0.7);
    opacity: 0.7;
  }
  40% {
    transform: scale(1.2);
    opacity: 1;
  }
}
.animate-typing-bounce {
  animation: typing-bounce 1s infinite both;
}
